{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
                <!-- Begin Page Content -->
             

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <!-- <div class="row"> -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Qidirish</h6>
                        </div>
                        <div class="card-body">
                            <form method="GET" action="{% url 'home' %}" class="row g-3">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        <input type="text" name="full_name" value="{{ query.full_name }}" placeholder="Ism bo‘yicha qidirish" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
                                        <input type="text" name="position" value="{{ query.position }}" placeholder="Lavozim bo‘yicha qidirish" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                        <select name="district" class="form-control">
                                            <option value="">Tuman tanlang</option>
                                            {% for key, value in districts.items %}
                                            <option value="{{ key }}" {% if query.district == key %}selected{% endif %}>{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-users"></i></span>
                                        <select name="status" id="status" class="form-control">
                                            <option value="1" {% if query.status == "1" %}selected{% endif %}>Sektor Rahbar</option>
                                            <option value="2" {% if query.status == "2" %}selected{% endif %}>Aparat hodim</option>
                                            <option value="3" {% if query.status == "3" %}selected{% endif %}>Boshqarma</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-2" id="management_div" style="display: none;">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-building"></i></span>
                                        <select name="management" id="management" class="form-control">
                                            {% for mg in managements %}
                                            <option value="{{ mg.id }}" {% if query.management == mg.id|stringformat:"s" %}selected{% endif %}>{{ mg.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-2 d-flex align-items-center">
                                    <button type="submit" class="btn btn-primary w-100"><i class="fas fa-search"></i> Qidirish</button>
                                </div>
                                <div class="col-md-3 mt-2 d-flex align-items-center">
                                    <a href="{% url 'home' %}" class="btn btn-secondary w-100"><i class="fas fa-times"></i> Tozalash</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    



{% endblock %}